.MainPart{
    grid-area: Mai;
    background-color: blanchedalmond;
    display: grid;
    grid-template: 1fr / 0.2fr ;
    grid-template-areas:
        "mainB mainB"
        "avatar posts";
}

.MainPart_back img{
    width: 100%;
    height: 400px;
}

.MainPart_back{
    grid-area: mainB;
}

.MainPart_avatar img{
    width: 120px;
    height: 100px;
}

.MainPart_avatar{
    grid-area: avatar ;
}

