.MainPart_back img{
    width: 100%;
    height: 400px;
}

.MainPart_back{
    grid-area: mainB;
}

.MainPart_avatar img{
    width: 120px;
    height: 100px;
}

.MainPart_avatar{
    grid-area: avatar ;
}

