.wrapper_user {
    display: grid;
    grid-template: 1fr / 0.2fr 1fr ;
    margin: 40px;
}
.main_content{
    display: grid;
    /*grid-template: repeat(2, 1fr)/ repeat(2, 1fr);*/
    border: 2px solid black;
    border-radius: 5%;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.avatar{
    border-radius: 10%;
}
div button{
    margin: 0 35px;
}
.selectedPage{
    font-weight: bold;
}
.page_number_line{
    margin: 40px;
    display: flex;
    justify-content: center;

}
.page_number_line span{
    padding: 20px;
}