.Links{
    grid-area: Lin;
    background-color: darkslategray;
    display: grid;
    text-align: center;
    padding: 20px;
    color: aqua;
    height: 100vh;
}

.item a{
    color: white;
    font-size: 18px;
}

.item a.active{
    color: black;
    border: 2px solid black;
    padding: 5px;
}