
.MainPart_post{
    text-align: left;
    display: flex;
}
.MainPart_avatar img{
    width: 100px;
    margin: 20px;

}

.MainPart_avatar{
    text-align: left;
}

.MainPart_text{
    display: grid;
    padding: 20px;
}